


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."sync_product_stock_from_variants"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    UPDATE products
    SET stock_quantity = (
        SELECT COALESCE(SUM(stock_quantity), 0)
        FROM product_variants
        WHERE product_id = COALESCE(NEW.product_id, OLD.product_id)
    )
    WHERE id = COALESCE(NEW.product_id, OLD.product_id);
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."sync_product_stock_from_variants"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."admins" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "email" "text" NOT NULL,
    "password_hash" "text" NOT NULL,
    "full_name" "text",
    "role" "text" DEFAULT 'admin'::"text",
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "admins_role_check" CHECK (("role" = ANY (ARRAY['super_admin'::"text", 'admin'::"text", 'manager'::"text", 'staff'::"text"])))
);


ALTER TABLE "public"."admins" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."product_categories" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "name" "text" NOT NULL,
    "description" "text"
);


ALTER TABLE "public"."product_categories" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."product_variants" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "product_id" bigint,
    "variant_id" bigint,
    "bulb_type" "text",
    "color_temperature" "text",
    "variant_sku" "text",
    "variant_barcode" "text",
    "selling_price" numeric(10,2) DEFAULT 0,
    "cost_price" numeric(10,2) DEFAULT 0,
    "stock_quantity" integer DEFAULT 0,
    "min_stock_level" integer DEFAULT 5,
    "is_primary" boolean DEFAULT false,
    "description" "text",
    "price_adjustment" numeric(10,2) DEFAULT 0,
    "variant_color" "text"
);


ALTER TABLE "public"."product_variants" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."products" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "name" "text" NOT NULL,
    "sku" "text",
    "barcode" "text",
    "brand" "text",
    "category_id" bigint,
    "variant_type_id" bigint,
    "supplier_id" bigint,
    "selling_price" numeric(10,2) DEFAULT 0,
    "cost_price" numeric(10,2) DEFAULT 0,
    "stock_quantity" integer DEFAULT 0,
    "min_stock_level" integer DEFAULT 5,
    "reorder_level" integer DEFAULT 10,
    "description" "text",
    "image_url" "text",
    "voltage" numeric,
    "wattage" numeric,
    "color_temperature" "text",
    "lumens" numeric,
    "beam_type" "text",
    "specifications" "jsonb" DEFAULT '{}'::"jsonb",
    "has_variants" boolean DEFAULT false
);


ALTER TABLE "public"."products" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."variant_definitions" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "base_name" "text" NOT NULL,
    "variant_name" "text" NOT NULL,
    "display_name" "text" NOT NULL,
    "compatibility_list" "text"[],
    "description" "text",
    "is_active" boolean DEFAULT true
);


ALTER TABLE "public"."variant_definitions" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."pos_product_variants" AS
 SELECT "p"."id" AS "product_id",
    "p"."sku",
    "p"."name" AS "base_name",
    "p"."brand",
    "p"."selling_price" AS "base_price",
    "pbv"."id",
    "pbv"."id" AS "variant_id",
    COALESCE("btv"."display_name", "pbv"."bulb_type") AS "display_name",
    "btv"."compatibility_list",
    COALESCE("pbv"."description", "btv"."description") AS "variant_description",
        CASE
            WHEN ("pbv"."selling_price" > (0)::numeric) THEN "pbv"."selling_price"
            ELSE ("p"."selling_price" + COALESCE("pbv"."price_adjustment", (0)::numeric))
        END AS "final_price",
    "pbv"."stock_quantity",
    "pbv"."min_stock_level",
    "pbv"."is_primary",
    "pbv"."variant_sku",
    "pc"."name" AS "category",
    "p"."image_url",
    COALESCE("pbv"."variant_color", "p"."color_temperature") AS "color_temperature"
   FROM ((("public"."products" "p"
     JOIN "public"."product_variants" "pbv" ON (("p"."id" = "pbv"."product_id")))
     LEFT JOIN "public"."variant_definitions" "btv" ON (("pbv"."variant_id" = "btv"."id")))
     LEFT JOIN "public"."product_categories" "pc" ON (("p"."category_id" = "pc"."id")))
  WHERE (("p"."has_variants" = true) AND (("btv"."is_active" = true) OR ("btv"."id" IS NULL)))
  ORDER BY "p"."name", COALESCE("btv"."display_name", "pbv"."bulb_type");


ALTER VIEW "public"."pos_product_variants" OWNER TO "postgres";


ALTER TABLE "public"."product_categories" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."product_categories_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE "public"."product_variants" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."product_variants_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE "public"."products" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."products_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."sales" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "items" "jsonb" NOT NULL,
    "subtotal" numeric(10,2) NOT NULL,
    "tax" numeric(10,2) NOT NULL,
    "total" numeric(10,2) NOT NULL,
    "payment_method" "text" DEFAULT 'Cash'::"text",
    "customer_name" "text",
    "customer_email" "text",
    "receipt_number" "text",
    "transaction_status" "text" DEFAULT 'completed'::"text",
    "staff_id" "text",
    "notes" "text"
);


ALTER TABLE "public"."sales" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."store_settings" (
    "id" bigint NOT NULL,
    "store_name" "text" DEFAULT 'Ken''s Auto Parts'::"text",
    "tax_rate" numeric DEFAULT 0.12,
    "low_stock_threshold" integer DEFAULT 5,
    "currency" "text" DEFAULT 'PHP'::"text",
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."store_settings" OWNER TO "postgres";


ALTER TABLE "public"."store_settings" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."store_settings_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."suppliers" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "name" "text" NOT NULL,
    "contact_person" "text",
    "email" "text",
    "phone" "text",
    "address" "text"
);


ALTER TABLE "public"."suppliers" OWNER TO "postgres";


ALTER TABLE "public"."suppliers" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."suppliers_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."variant_categories" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "code" "text" NOT NULL,
    "description" "text"
);


ALTER TABLE "public"."variant_categories" OWNER TO "postgres";


ALTER TABLE "public"."variant_categories" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."variant_categories_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE "public"."variant_definitions" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."variant_definitions_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE ONLY "public"."admins"
    ADD CONSTRAINT "admins_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."admins"
    ADD CONSTRAINT "admins_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."product_categories"
    ADD CONSTRAINT "product_categories_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."product_categories"
    ADD CONSTRAINT "product_categories_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."product_variants"
    ADD CONSTRAINT "product_variants_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."product_variants"
    ADD CONSTRAINT "product_variants_product_id_bulb_type_color_temperatur_key" UNIQUE ("product_id", "bulb_type", "color_temperature");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_sku_key" UNIQUE ("sku");



ALTER TABLE ONLY "public"."sales"
    ADD CONSTRAINT "sales_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."store_settings"
    ADD CONSTRAINT "store_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."suppliers"
    ADD CONSTRAINT "suppliers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."variant_categories"
    ADD CONSTRAINT "variant_categories_code_key" UNIQUE ("code");



ALTER TABLE ONLY "public"."variant_categories"
    ADD CONSTRAINT "variant_categories_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."variant_definitions"
    ADD CONSTRAINT "variant_definitions_pkey" PRIMARY KEY ("id");



CREATE OR REPLACE TRIGGER "update_admins_updated_at" BEFORE UPDATE ON "public"."admins" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_products_updated_at" BEFORE UPDATE ON "public"."products" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."product_variants"
    ADD CONSTRAINT "product_variants_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."products"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."product_variants"
    ADD CONSTRAINT "product_variants_variant_id_fkey" FOREIGN KEY ("variant_id") REFERENCES "public"."variant_definitions"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "public"."product_categories"("id");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "public"."suppliers"("id");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_variant_type_id_fkey" FOREIGN KEY ("variant_type_id") REFERENCES "public"."variant_categories"("id");



CREATE POLICY "Allow Self Read" ON "public"."admins" FOR SELECT USING (true);



CREATE POLICY "Allow anon read access" ON "public"."admins" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow authenticated read access" ON "public"."admins" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Public Access" ON "public"."product_categories" USING (true);



CREATE POLICY "Public Access" ON "public"."product_variants" USING (true);



CREATE POLICY "Public Access" ON "public"."sales" USING (true);



CREATE POLICY "Public Access" ON "public"."store_settings" USING (true);



CREATE POLICY "Public Access" ON "public"."suppliers" USING (true);



CREATE POLICY "Public Access" ON "public"."variant_categories" USING (true);



CREATE POLICY "Public Access" ON "public"."variant_definitions" USING (true);



CREATE POLICY "Public Read" ON "public"."products" FOR SELECT USING (true);



CREATE POLICY "Public Read BulbTypes" ON "public"."variant_categories" FOR SELECT USING (true);



CREATE POLICY "Public Read Categories" ON "public"."product_categories" FOR SELECT USING (true);



CREATE POLICY "Public Read ProductVariants" ON "public"."product_variants" FOR SELECT USING (true);



CREATE POLICY "Public Read Products" ON "public"."products" FOR SELECT USING (true);



CREATE POLICY "Public Read Settings" ON "public"."store_settings" FOR SELECT USING (true);



CREATE POLICY "Public Read Suppliers" ON "public"."suppliers" FOR SELECT USING (true);



CREATE POLICY "Public Read Variants" ON "public"."variant_definitions" FOR SELECT USING (true);



CREATE POLICY "Public Write" ON "public"."products" USING (true) WITH CHECK (true);



CREATE POLICY "Public Write ProductVariants" ON "public"."product_variants" USING (true) WITH CHECK (true);



CREATE POLICY "Public Write Products" ON "public"."products" USING (true) WITH CHECK (true);



CREATE POLICY "Public Write Sales" ON "public"."sales" USING (true) WITH CHECK (true);



CREATE POLICY "Public Write Settings" ON "public"."store_settings" USING (true) WITH CHECK (true);



CREATE POLICY "Super admins can manage admins" ON "public"."admins" USING ((EXISTS ( SELECT 1
   FROM "public"."admins" "a"
  WHERE (("a"."email" = ( SELECT ("auth"."jwt"() ->> 'email'::"text"))) AND ("a"."role" = 'super_admin'::"text")))));



ALTER TABLE "public"."admins" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."product_categories" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."product_variants" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."products" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."sales" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."store_settings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."suppliers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."variant_categories" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."variant_definitions" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_product_stock_from_variants"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_product_stock_from_variants"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_product_stock_from_variants"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON TABLE "public"."admins" TO "anon";
GRANT ALL ON TABLE "public"."admins" TO "authenticated";
GRANT ALL ON TABLE "public"."admins" TO "service_role";



GRANT ALL ON TABLE "public"."product_categories" TO "anon";
GRANT ALL ON TABLE "public"."product_categories" TO "authenticated";
GRANT ALL ON TABLE "public"."product_categories" TO "service_role";



GRANT ALL ON TABLE "public"."product_variants" TO "anon";
GRANT ALL ON TABLE "public"."product_variants" TO "authenticated";
GRANT ALL ON TABLE "public"."product_variants" TO "service_role";



GRANT ALL ON TABLE "public"."products" TO "anon";
GRANT ALL ON TABLE "public"."products" TO "authenticated";
GRANT ALL ON TABLE "public"."products" TO "service_role";



GRANT ALL ON TABLE "public"."variant_definitions" TO "anon";
GRANT ALL ON TABLE "public"."variant_definitions" TO "authenticated";
GRANT ALL ON TABLE "public"."variant_definitions" TO "service_role";



GRANT ALL ON TABLE "public"."pos_product_variants" TO "anon";
GRANT ALL ON TABLE "public"."pos_product_variants" TO "authenticated";
GRANT ALL ON TABLE "public"."pos_product_variants" TO "service_role";



GRANT ALL ON SEQUENCE "public"."product_categories_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."product_categories_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."product_categories_id_seq" TO "service_role";



GRANT ALL ON SEQUENCE "public"."product_variants_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."product_variants_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."product_variants_id_seq" TO "service_role";



GRANT ALL ON SEQUENCE "public"."products_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."products_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."products_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."sales" TO "anon";
GRANT ALL ON TABLE "public"."sales" TO "authenticated";
GRANT ALL ON TABLE "public"."sales" TO "service_role";



GRANT ALL ON TABLE "public"."store_settings" TO "anon";
GRANT ALL ON TABLE "public"."store_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."store_settings" TO "service_role";



GRANT ALL ON SEQUENCE "public"."store_settings_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."store_settings_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."store_settings_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."suppliers" TO "anon";
GRANT ALL ON TABLE "public"."suppliers" TO "authenticated";
GRANT ALL ON TABLE "public"."suppliers" TO "service_role";



GRANT ALL ON SEQUENCE "public"."suppliers_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."suppliers_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."suppliers_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."variant_categories" TO "anon";
GRANT ALL ON TABLE "public"."variant_categories" TO "authenticated";
GRANT ALL ON TABLE "public"."variant_categories" TO "service_role";



GRANT ALL ON SEQUENCE "public"."variant_categories_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."variant_categories_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."variant_categories_id_seq" TO "service_role";



GRANT ALL ON SEQUENCE "public"."variant_definitions_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."variant_definitions_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."variant_definitions_id_seq" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







