\n#variable_conflict use_column\nBEGIN\n  RETURN QUERY\n  WITH ProductSpecs AS (\n    -- Aggregate product specs into a single JSONB for backward compatibility\n    SELECT \n      product_id, \n      jsonb_object_agg(spec_key, spec_value) as specs\n    FROM product_specifications\n    GROUP BY product_id\n  ),\n  VariantSpecs AS (\n    -- Aggregate variant specs into a single JSONB for backward compatibility\n    SELECT \n      variant_id, \n      jsonb_object_agg(spec_key, spec_value) as specs\n    FROM variant_specifications\n    GROUP BY variant_id\n  ),\n  CombinedInventory AS (\n    -- 1. PARENT PRODUCTS\n    SELECT \n      p.id AS id,\n      p.id AS uuid,\n      p.name AS name,\n      p.name AS base_name,\n      p.sku AS sku,\n      p.selling_price AS price,\n      COALESCE(\n        (SELECT SUM(pv.stock_quantity) FROM product_variants pv WHERE pv.product_id = p.id),\n        p.stock_quantity\n      ) AS stock,\n      p.min_stock_level AS min_quantity,\n      pc.name AS category,\n      b.name AS brand, -- Use brand name from reference table\n      p.description AS description,\n      p.image_url AS image_url,\n      p.barcode AS barcode,\n      p.cost_price AS cost_price,\n      -- Extract from EAV instead of columns\n      COALESCE((ps.specs->>'voltage')::numeric, p.voltage) AS voltage,\n      COALESCE((ps.specs->>'wattage')::numeric, p.wattage) AS wattage,\n      COALESCE(ps.specs->>'color_temperature', p.color_temperature) AS color_temperature,\n      COALESCE(ps.specs->>'variant_color', (p.specifications->>'color')::text) AS variant_color,\n      COALESCE((ps.specs->>'lumens')::numeric, p.lumens) AS lumens,\n      COALESCE(ps.specs->>'beam_type', p.beam_type) AS beam_type,\n      COALESCE(\n        ps.specs->>'socket', \n        (p.specifications->>'socket')::text, \n        vc.code\n      ) AS variant_type,\n      COALESCE(p.specifications, '{}'::jsonb) || COALESCE(ps.specs, '{}'::jsonb) AS specifications,\n      s.name AS supplier,\n      (p.has_variants OR (SELECT COUNT(*) FROM product_variants pv WHERE pv.product_id = p.id) > 0) AS has_variants,\n      (SELECT COUNT(*)::INT FROM product_variants pv WHERE pv.product_id = p.id) AS variant_count,\n      NULL::BIGINT AS variant_id,\n      NULL::TEXT AS variant_display_name,\n      false AS is_variant,\n      NULL::BIGINT AS parent_product_id,\n      p.created_at AS created_at,\n      p.updated_at AS updated_at,\n      (p.specifications->>'internal_notes')::TEXT AS notes,\n      ARRAY(SELECT jsonb_array_elements_text(p.specifications->'tags')) AS tags\n    FROM products p\n    LEFT JOIN product_categories pc ON p.category_id = pc.id\n    LEFT JOIN variant_categories vc ON p.variant_type_id = vc.id\n    LEFT JOIN suppliers s ON p.supplier_id = s.id\n    LEFT JOIN brands b ON p.brand_id = b.id -- Join with brands\n    LEFT JOIN ProductSpecs ps ON p.id = ps.product_id -- Join with EAV specs\n\n    UNION ALL\n\n    -- 2. PRODUCT VARIANTS\n    SELECT\n      v.id AS id,\n      v.id AS uuid,\n      (p.name || ' - ' || COALESCE(vd.variant_name, v.variant_type, '')) AS name,\n      p.name AS base_name,\n      COALESCE(v.variant_sku, p.sku || '-' || v.id) AS sku,\n      COALESCE(\n        NULLIF(v.selling_price, 0),\n        p.selling_price + COALESCE(v.price_adjustment, 0),\n        p.selling_price\n      ) AS price,\n      v.stock_quantity::BIGINT AS stock,\n      v.min_stock_level AS min_quantity,\n      pc.name AS category,\n      b.name AS brand, -- Use brand name from reference table\n      COALESCE(v.description, p.description) AS description,\n      p.image_url AS image_url,\n      COALESCE(v.variant_barcode, v.variant_sku) AS barcode,\n      v.cost_price AS cost_price,\n      COALESCE((ps.specs->>'voltage')::numeric, p.voltage) AS voltage,\n      COALESCE((ps.specs->>'wattage')::numeric, p.wattage) AS wattage,\n      COALESCE(vs.specs->>'color_temperature', v.color_temperature, ps.specs->>'color_temperature', p.color_temperature) AS color_temperature,\n      COALESCE(vs.specs->>'variant_color', v.variant_color) AS variant_color,\n      COALESCE((ps.specs->>'lumens')::numeric, p.lumens) AS lumens,\n      COALESCE(ps.specs->>'beam_type', p.beam_type) AS beam_type,\n      COALESCE(vd.variant_name, v.variant_type, 'Unknown') AS variant_type,\n      COALESCE(p.specifications, '{}'::jsonb) || COALESCE(v.specifications, '{}'::jsonb) || COALESCE(ps.specs, '{}'::jsonb) || COALESCE(vs.specs, '{}'::jsonb) AS specifications,\n      s.name AS supplier,\n      false AS has_variants,\n      0 AS variant_count,\n      v.variant_id AS variant_id,\n      TRIM(COALESCE(vd.variant_name, v.variant_type, 'Unknown') || ' ' || COALESCE(v.color_temperature::TEXT || 'K', '')) AS variant_display_name,\n      true AS is_variant,\n      v.product_id AS parent_product_id,\n      v.created_at AS created_at,\n      p.updated_at AS updated_at,\n      (v.specifications->>'internal_notes')::TEXT AS notes,\n      CASE \n        WHEN v.specifications->'tags' IS NOT NULL AND jsonb_array_length(v.specifications->'tags') > 0 \n        THEN ARRAY(SELECT jsonb_array_elements_text(v.specifications->'tags'))\n        ELSE ARRAY(SELECT jsonb_array_elements_text(p.specifications->'tags'))\n      END AS tags\n    FROM product_variants v\n    JOIN products p ON v.product_id = p.id\n    LEFT JOIN variant_definitions vd ON v.variant_id = vd.id\n    LEFT JOIN product_categories pc ON p.category_id = pc.id\n    LEFT JOIN suppliers s ON p.supplier_id = s.id\n    LEFT JOIN brands b ON p.brand_id = b.id -- Join with brands\n    LEFT JOIN ProductSpecs ps ON p.id = ps.product_id -- Join with product EAV specs\n    LEFT JOIN VariantSpecs vs ON v.id = vs.variant_id -- Join with variant EAV specs\n  )\n  SELECT \n    ci.*,\n    (\n      ts_rank(\n        setweight(to_tsvector('simple', unaccent(COALESCE(ci.name, ''))), 'A') ||\n        setweight(to_tsvector('simple', unaccent(COALESCE(ci.sku, ''))), 'A') ||\n        setweight(to_tsvector('simple', unaccent(COALESCE(ci.brand, ''))), 'B') ||\n        setweight(to_tsvector('simple', unaccent(COALESCE(ci.variant_color, ''))), 'B') ||\n        setweight(to_tsvector('simple', unaccent(COALESCE(ci.color_temperature::TEXT, ''))), 'B') ||\n        setweight(to_tsvector('simple', unaccent(COALESCE(ci.category, ''))), 'C') ||\n        setweight(to_tsvector('simple', unaccent(COALESCE(ci.variant_type, ''))), 'C') ||\n        setweight(to_tsvector('simple', unaccent(COALESCE(ci.notes, ''))), 'C') ||\n        setweight(to_tsvector('simple', unaccent(COALESCE(array_to_string(ci.tags, ' '), ''))), 'C'),\n        plainto_tsquery('simple', unaccent(COALESCE(p_search_query, '')))\n      )\n    ) AS search_rank\n  FROM CombinedInventory ci\n  WHERE \n    (p_categories IS NULL OR ci.category = ANY(p_categories))\n    AND (\n      p_status = 'All' OR\n      (p_status = 'Out of Stock' AND ci.stock <= 0) OR\n      (p_status = 'Low Stock' AND ci.stock > 0 AND ci.stock < COALESCE(ci.min_quantity, 10)) OR\n      (p_status = 'In Stock' AND ci.stock >= COALESCE(ci.min_quantity, 10))\n    )\n    AND (\n      COALESCE(p_search_query, '') = '' OR\n      (\n        -- Combine FTS and Keyword Multi-Match for maximum robustness\n        (\n          setweight(to_tsvector('simple', unaccent(COALESCE(ci.name, ''))), 'A') ||\n          setweight(to_tsvector('simple', unaccent(COALESCE(ci.sku, ''))), 'A') ||\n          setweight(to_tsvector('simple', unaccent(COALESCE(ci.brand, ''))), 'B') ||\n          setweight(to_tsvector('simple', unaccent(COALESCE(ci.variant_color, ''))), 'B') ||\n          setweight(to_tsvector('simple', unaccent(COALESCE(ci.color_temperature::TEXT, ''))), 'B') ||\n          setweight(to_tsvector('simple', unaccent(COALESCE(ci.category, ''))), 'C') ||\n          setweight(to_tsvector('simple', unaccent(COALESCE(ci.variant_type, ''))), 'C') ||\n          setweight(to_tsvector('simple', unaccent(COALESCE(ci.notes, ''))), 'C') ||\n          setweight(to_tsvector('simple', unaccent(COALESCE(array_to_string(ci.tags, ' '), ''))), 'C')\n        ) @@ plainto_tsquery('simple', unaccent(p_search_query))\n        OR\n        (\n          SELECT COALESCE(bool_and(\n            lower(unaccent(\n              COALESCE(ci.name, '') || ' ' ||\n              COALESCE(ci.sku, '') || ' ' ||\n              COALESCE(ci.notes, '') || ' ' ||\n              COALESCE(ci.category, '') || ' ' ||\n              COALESCE(ci.brand, '') || ' ' ||\n              COALESCE(ci.variant_type, '') || ' ' ||\n              COALESCE(ci.variant_color, '') || ' ' ||\n              COALESCE(ci.color_temperature, '') || ' ' ||\n              COALESCE(array_to_string(ci.tags, ' '), '')\n            )) LIKE '%' || kw || '%'\n          ), true)\n          FROM unnest(string_to_array(lower(unaccent(trim(p_search_query))), ' ')) AS kw \n          WHERE kw <> ''\n        )\n      )\n    )\n  ORDER BY \n    CASE WHEN COALESCE(p_search_query, '') = '' THEN 0 ELSE 1 END DESC,\n    search_rank DESC,\n    ci.name ASC\n  LIMIT p_limit\n  OFFSET p_offset;\nEND;\n
